.container {
  padding: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.selectInput {
  width: 400px;
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}
