.actionButtons {
  padding: 16px;
  margin-top: 40px;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.button {
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  cursor: pointer;
  text-align: center;
  color: #333;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #f2f2f2;
}

.undo {
  width: 100px;
}

.save {
  width: 175px;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}
